<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SLT</title>
	<link rel="stylesheet" type="text/css" href="style.css"><
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="Title.jpeg">
			</div>
			<ul>
				<li class><a href="#">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>Translate</h1>
		</div>
		<div class="button">
			<a href="C:\Users\gouth\Desktop\MiniProj\FrontEnd\Trial\trial.js" class="btn">ASL to English</a>
			<a href="testing.html" class="btn">English to ASL</a>
		</div>
</body>
</html>